.current-trip,
.upcoming-trips-container,
.pending-trips-container,
.past-trips-container {
  @include flex(row);
  flex-wrap: wrap;
  margin: 0;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5px;
  padding: 10px;
  min-height: 250px;
  min-width: 200px;
  max-height: 250px;
  max-width: 200px;
  border: $primary-border;
}
.trip-destination,
.details {
  margin: 0;
  margin-top: 15px;
}
.card-image {
  max-width: auto;
  max-height: 50%;
  min-width: auto;
  min-height: 50%;
}
