.current-trip,
.upcoming-trips-container,
.pending-trips-container,
.past-trips-container {
  @include flex(row);
  flex-wrap: wrap;
  margin: 0;
}
.card {
  margin: 5px;
  padding: 10px;
  min-height: 250px;
  min-width: 250px;
  max-height: 250px;
  max-width: 250px;
  border: 1px solid rgb(140, 173, 167);
}
