/* This is an example of using Sass, otherwise plain CSS works too*/
$primary-background: rgb(255, 221, 210);
$primary-color: rgb(35, 61, 77);
$primary-font: "Quicksand", sans-serif;


body {
  background: $primary-background;
  font-family: $primary-font;
  color: $primary-color;
  display: grid;
  grid-template-column: 1fr 4fr 4fr;
  grid-template-areas:
  "header header header"
  "aside main main"
  "footer footer footer";
  height: 100vh;
  width: 100vw;
  margin: 0;
padding: 0;
}

header {
  grid-area: header;
  padding: 0 10px 10px 10px;
  max-height: 20vh;
  display: grid;
  align-items: flex-end;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-areas:
  "greeting plan title"
}

.plan-trip {
  max-height: 30px;
  align-self: flex-end;
}

aside {
  grid-area: aside;
  padding: 10px 10px 0 10px;
  border-left:  none;
}

main {
  grid-area: main;
  padding: 10px 10px 0 10px;
  border: 1px solid rgb(140, 173, 167)
}

.upcoming-trips-title,
.pending-trips-title,
.past-trips-title {
  border: 1px solid rgb(140, 173, 167);
}

footer {
  grid-area: footer;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}




//
