@import "mixins";
@import "cards";
@import "inputField";
/* This is an example of using Sass, otherwise plain CSS works too*/
$primary-background: rgb(255, 221, 210);
$primary-color: rgb(35, 61, 77);
$primary-font: "Quicksand", sans-serif;

body {
  background: $primary-background;
  font-family: $primary-font;
  font-weight: lighter;
  color: $primary-color;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-areas: "header header"
  "request request"
  "aside main"
  "footer footer";
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

header {
  grid-area: header;
  padding: 0 10px 10px;
  font-size: small;
  display: grid;
  grid-template-columns: 3fr 3fr;
  grid-template-areas: "greeting title";
}

.greeting,
.title {
  @include flex(column);
  justify-content: flex-end;
}

.total-spent,
.welcome-message {
  margin: 0;
  text-align: left;
}

.total-spent {
  margin-top: 5px;
  font-size: smaller;
}

.site-title,
.todays-date {
  margin: 0;
  text-align: right;
}

aside {
  grid-area: aside;
  padding: 10px 10px 0;
  border-bottom: 1px solid rgb(140, 173, 167);
  min-width: 30vw;
}

main {
  grid-area: main;
  padding: 10px;
  border-bottom: 1px solid rgb(140, 173, 167);
  border-left: 1px solid rgb(140, 173, 167);
  max-width: 70vw;
}

.current-trips-title,
.past-trips-title,
.pending-trips-title,
.upcoming-trips-title {
  text-align: center;
  padding: 10px;
  border: 1px solid rgb(140, 173, 167);
}

footer {
  grid-area: footer;
  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

button {
  cursor: pointer;
}
//
