@import "mixins";
@import "cards";

/* This is an example of using Sass, otherwise plain CSS works too*/
$primary-background: rgb(255, 221, 210);
$primary-color: rgb(35, 61, 77);
$primary-font: "Quicksand", sans-serif;


body {
  background: $primary-background;
  font-family: $primary-font;
  color: $primary-color;
  display: grid;
  grid-template-column: 1fr 2.5fr 2.5fr;
  grid-template-areas:
  "header header header"
  "aside main main"
  "footer footer footer";
  height: 100vh;
  width: 100vw;
  margin: 0;
padding: 0;
}

header {
  grid-area: header;
  padding: 0 10px 10px 10px;
  border-bottom: 1px solid rgb(140, 173, 167);
  font-size: small;
  display: grid;
  align-items: flex-start;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-areas:
  "greeting plan title"
}

.plan-trip {
  margin: 0;
  max-height: 30px;
  align-self: flex-end;
}

.site-title {
  margin: 0;
}

aside {
  grid-area: aside;
  padding: 10px 10px 0 10px;
  border-bottom: 1px solid rgb(140, 173, 167);

}

main {
  grid-area: main;
  padding: 10px;
  border-bottom: 1px solid rgb(140, 173, 167);
  border-left: 1px solid rgb(140, 173, 167);
}

.current-trips-title,
.upcoming-trips-title,
.pending-trips-title,
.past-trips-title {
  text-align: center;
  padding: 10px;
  border: 1px solid rgb(140, 173, 167);
}

footer {
  grid-area: footer;
  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}




//
